.about-sections {
  padding: 0 20px;
}

.background-header-clipper {
  position: absolute;
  top: 40%;
  left: 12%;
  right: 0;
  overflow: hidden;
  opacity: 0.6;
}

.about-page-first-background-header {
  width: 100%;

  h2 {
    font-size: 160px;
    color: white;
    width: 60%;
  }
}

.second-background-clipper {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  opacity: 0.6;
  overflow: hidden;
}

.about-page-second-background-header {
  width: 100%;

  h2 {
    font-size: 100px;
    color: white;
  }
}

.third-background-clipper {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 70%;
  opacity: 0.6;
  overflow: hidden;
}

.about-page-third-background-header {
  h2 {
    font-size: 100px;
    text-align: right;
    color: white;
  }
}

.about-banner-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: relative;
}

#about-second-image-container {
  aspect-ratio: 5 / 4;
}

#appear-image {
  animation-name: image-appear;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes image-appear {
   0% {
    opacity: 0.5;
    transform: scale(0.96);
  }

  100% {
    opacity: 0.75;
    transform: scale(1.0);
  }
}

.about-image-container {
  max-width: 70%;
  aspect-ratio: 5 / 4;
  position: relative;
  z-index: 1;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
  border-radius: 2px;
}

.about-info-section {
  max-width: 800px;
  margin: 100px auto;
  background: linear-gradient(0deg,#CAEDE6 70%, rgba(255, 255, 255, 0) 100%);
}

.first-angle-background {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(to bottom, rgba(200, 142, 255, 0.2), rgba(255, 255, 255, 0));
  padding: 300px 0 0 0;
  margin-top: -200px;
}

.second-angle-background {
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  background-image: linear-gradient(to bottom, rgba(229, 142, 255, 0.2), rgba(255, 255, 255, 0));
  padding: 240px 0 0 0;
  margin-top: -320px;
}

.first-slogan-section {
  position: relative;
  margin-top: 60px;
}

.second-slogan-section {
  position: relative;
  margin: 180px auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-second-image-container {
  max-width: 70%;
  aspect-ratio: 3 / 2;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.third-slogan-section {
  // background-image: radial-gradient(closest-side, rgba(217, 142, 255, 0.3), rgba(255, 255, 255, 0));
  padding: 20px 10% 200px 10%;
  margin: 180px auto 0 auto;
  position: relative;
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.about-third-image-container {
  max-width: 70%;
  aspect-ratio: 5 / 4;
  position: relative;
}

@media only screen and (max-width: 720px) {
  .background-header-clipper {
    top: 10%;
  }

  .about-page-first-background-header {
    h2 {
      font-size: 120px;
    }
  }

  .second-background-clipper {
    top: -50px;
  }

  .third-background-clipper {
    width: 100%;
    right: 2%;
    top: 0;
  }
}

@media only screen and (max-width: 450px) {
  .about-sections {
    padding: 0 10px;
  }

  .about-info-section {
    margin: 100px auto 20px auto;
  }

  .about-page-first-background-header {
    h2 {
      font-size: 100px;
    }
  }

  .about-other-background-headers {
    h2 {
      font-size: 60px;
    }
  }

  .background-header-clipper {
    top: 0;
  }

  .first-angle-background {
    padding: 240px 0 0 0;
  }

  .third-slogan-section {
    margin: 100px auto 0 auto;
  }
}
