.event-banner-container {
  position: relative;
  margin: 0 0 40px 0;
}

.event-middle-banner {
  width: 100%;
  height: 460px;
  object-fit: cover;
  border-radius: 2px;
  position: relative;
}

// .even-page-details {
//   margin-top: 460px;
// }

@media only screen and (max-width: 400px) {
  .event-middle-banner {
    height: 300px;
  }

}
