// Specific CSS for your home-page


.about-container {
  padding: 0 140px;
  margin: 40px auto;
  text-align: center;
}

.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.event-card {
  height: 400px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 40px;
  border-radius: 10px;
  align-content: end;
}

.profiles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.profile-card {
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px 40px;
  border-radius: 10px;
  align-content: end;
}
