// HOMEPAGE //
// Banner section //
.banner-section {
  width: 100vw;
  background-image: radial-gradient(closest-side, rgba(240, 255, 142, 0.2), rgba(255,255,255, 0.0));
  align-content: center;
  justify-items: center;
}
///////////////////

// About section //
.about-section {
  position: relative;
  // overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(200, 142, 255, 0.2), rgba(255, 255, 255, 0));
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  padding: 420px 20px 160px 20px;
  margin-top: -300px;
}

.home-about-clipper {
  position: absolute;
  top: 45%;
  left: 10%;
  right: 0;
  overflow: hidden;
  opacity: 0.6;
}

.about-background-header {
  width: 100%;

  h2 {
    font-size: 200px;
    color: white;
    width: 60%;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: relative;
}

.about-home-image-container {
  max-width: 70%;
  aspect-ratio: 5 / 4;
  position: relative;
}

.about-home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 2px;
}

///////////////////

// Events section //
.events-section {
  padding: 100px 20px 100px 20px;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: start;
}

///////////////////////////
// News section //
.news-section {
  position: relative;
  // overflow-x: hidden;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  background-image: linear-gradient(to bottom, rgba(229, 142, 255, 0.2), rgba(255, 255, 255, 0));
  margin-top: -240px;
  padding: 360px 20px 100px 20px;
}

.news-banner-clipper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.6;
}

.news-banner {
  position: absolute;
  display: flex;
  align-items: center;


  p {
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
}

.news-banner-1 {
  top: 40%;
  left: -150px;
  width: 160vw;
  transform: rotate(4deg);
}

.news-banner-2 {
  top: 70%;
  left: -160px;
  width: 160vw;
  transform: rotate(-2deg);
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;

  h2 {
    margin-bottom: 0;
    text-align: right;
  }

  p {
    min-width: 120px;
    width: 15%;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 4px;
  }
}

// Profiles section //
.profiles-section {
  padding: 120px 20px 140px 20px;
  position: relative;
}

@media only screen and (max-width: 630px) {
  .news-header-div {
    font-size: 58px;
    width: 70%;
    top: 15%;
  }
}

@media only screen and (max-width: 450px) {
  .banner-section {
    padding: 20vh 0 15vh 0;
  }

  .vliegtuin-logo {
    max-width: 100%;
    margin: 0 auto;
  }

  .about-background-header {
    top: 50%;

    h2 {
      font-size: 100px;
    }
  }

  .events-header {
    top: 60px;
    right: 10vw;
  }

  .news-header-div {
    top: 30%;
    font-size: 36px;
    width: 80%;
  }

  .news-banner p {
    font-size: 36px;
  }

  .about-section {
    padding: 280px 10px 40px 10px;
    margin-top: -220px;
  }

  .events-section {
    padding: 120px 10px 20px 10px;
  }

  .news-section {
    padding: 200px 10px 20px 20px;
    margin-top: -100px;
  }

  .profiles-section {
    padding: 80px 0 40px 0;
  }

}
