.news-page-background-container {
  height: 1000vh;
  position: absolute;
  top: 0;
  left: 0;
}

.news-page-background {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: -1;
  opacity: 0.6;

  p {
    font-size: 52px;
    font-weight: 600;
    overflow: hidden;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
}

.news-page-background-1 {
  top: 10%;
  left: -150px;
  width: 160vw;
  transform: rotate(4deg);
}

.news-page-background-2 {
  top: 20%;
  left: -160px;
  width: 160vw;
  transform: rotate(-2deg);
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: end;
  justify-content: center;
}

.selected-news-image {
  width: 100%;
  max-height: 460px;
  object-fit: cover;
  border-radius: 2px;
}

.selected-news-info {
  strong {
    font-size: 20px;
    font-weight: 800;
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
  }
}

.news-card {
  width: 100%;
  border-radius: 2px;
  opacity: 0.9;
  display: flex;
  align-items: end;
  height: 200px;
  margin-bottom: 24px;
  background-color: rgba(0,0,0,0.1);

  p {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }
}

.news-card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 8px rgba(0, 10, 2, 0.1),
              -2px -2px 8px rgba(233, 246, 235, 0.5);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.news-card-image {
  border-radius: 2px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.news-card-info {
  padding: 12px;
}

@media only screen and (max-width: 818px) {
  .news-card {
    height: 160px;
  }

  .news-card-image {
    width: 160px;
    height: 160px;
  }

  .news-card h3 {
    font-size: 24px;
  }
}


@media only screen and (max-width: 559px) {
  .news-card {
    height: 140px;
  }

  .news-card-image {
    width: 140px;
    height: 140px;
  }

  .news-card h3 {
    font-size: 22px;
  }

  .news-card p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 519px) {
  .news-card {
    height: 140px;
  }

  .news-card-image {
    width: 100px;
    height: 140px;
  }

  .news-card h3 {
    font-size: 20px;
  }

  .news-card p {
    font-size: 14px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
