.profile-banner {
  position: relative;
  height: 400px;
  margin: 40px 0;
}

.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.banner-edit {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
