<div class="footer">
  <%#= image_tag "Vliegtuin_Footer_Logo.png", alt: "vliegtuin-logo", class: "vliegtuin-footer-logo" %>
  <div class="footer-info">
    <h3>Contact</h3>
    <p>devliegtuin@gmail.com</p>
  </div>
</div>
