<div class="news-page-background-container">
    <div class="news-page-background news-page-banner-1">
      <p>
        NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS
      </p>
    </div>
     <div class="news-page-background news-page-banner-2">
      <p>
        NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS NIEUWS
      </p>
    </div>
