<div id="profile_banner" class="profile-banner">
  <% if profile_page.banner_image.presence %>
    <%= cl_image_tag profile_page.banner_image.key, class: "banner_image", alt: "#{profile_page.naam}" %>
  <% else %>
    <div class="banner-placeholder">
      <h2>Banner Image</h2>
      <p>Upload een banner foto voor je profiel.</p>
    </div>
  <% end %>
  <% if user_signed_in? && current_user == profile_page.user %>
    <%= link_to edit_banner_profile_page_path(profile_page), data: { turbo_frame: "modal" }, class: "image-edit" do %>
      <i class="fa-solid fa-pen" id="edit-pen"></i>
    <% end %>
  <% end %>
</div>
