<section class="profile-page">
  <%= render 'banner', profile_page: @profile_page %>

  <div class="set-active">
    
  </div>

  <div class="profile-content">
    <%= render 'bio', profile_page: @profile_page %>
    <%= render 'contact_info', profile_page: @profile_page %>
  </div>

  <%= render 'images', profile_page: @profile_page %>
</section>
