.vliegtuin-logo {
  max-height: 70vh;
  max-width: 90%;
  display: block;
  margin: 0 auto 100px auto;
  // padding-bottom: 100px;

  animation-name: logo;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes logo {
  0% {
    opacity: 0.95;
    transform: scale(0.96);
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}
