.banner {
  width: 1200px;
}

.vliegtuin-logo, h1 {
  display: block;
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

// .logo-container {
//   width: 1000px;
//   height: 700px;
//   margin: 0 auto;
//   position: relative;

//   animation-name: grow-container;
//   animation-duration: 3s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease;
// }

// @keyframes grow-container {
//   0% { transform: scale(0.8); }
//   100% { transform: scale(1); }
// }

// .logo-eye  {
//  width: 220px;
//  position: absolute;
//  top: 29.8%;
//  left: 36.4%;


//  animation-name: grow-eye;
//  animation-duration: 3s;
//  animation-fill-mode: forwards;
//  animation-timing-function: ease;
// }

// @keyframes grow-eye {
//   0% { scale: 0.8; }
//   100% { transform: scale(1.6); }
// }

// .logo-gear-1 {
//   width: 220px;
//   position: absolute;
//   top: 29.8%;
//   left: 36.4%;
//   scale: 0.8;

//   animation-name: rotate-gear-1;
//   animation-duration: 3s;
//   animation-fill-mode: forwards;
//   animation-timing-function: ease;
// }

// @keyframes rotate-gear-1 {
//   0% {

//   }
//   100% {
//     scale: 1.6;
//     transform: rotate(360deg);
//   }
// }

// .logo-gear-2 {
//   width: 110px;
//   position: absolute;
//   top: 7%;
//   left: 54%;
//   scale: 0.8;

//   animation-name: rotate-gear-2;
//   animation-duration: 3s;
//   animation-fill-mode: forwards;
//   transform-origin: 50% 50%;
//   animation-timing-function: ease;
// }

// @keyframes rotate-gear-2 {
//   0% {
//     top: 24%;
//     transform: scale(0.8) rotate(0deg);
//   }
//   100% {
//     transform: scale(1.8) rotate(-360deg);
//   }
// }
