h1, h3, p, span, a {
  font-family: 'Rubik', sans-serif;
  color: #050707
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-family: "Alfa Slab One", serif;
  font-size: 48px;
  font-weight: 400;
  z-index: 100;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.large-p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.8;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

//////// FLOATING HEADERS ////////
.floating-header {
  text-shadow: 0 0 8px rgba(31, 99, 244, 0.2),
              0 0 4px rgba(246, 244, 185, 0.3),
              0 0 1px rgba(255, 247, 1, 0.3);
}

.about-header {
  font-size: 96px;
  width: 48%;
  position: absolute;
  top: 40%;
  left: 0;
  margin-left: -20px;
  padding-left: 20px;
}

.about-us-header {
  font-size: 96px;
  width: 64%;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.news-header-div {
  font-size: 64px;
  width: 70%;
  position: absolute;
  top: 40%;
  right: 5%;;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.about-second-slogan {
  font-size: 64px;
  text-align: center;
  width: 64%;
  position: absolute;
  top: 30%;
  left: 18%;
}

.about-third-slogan {
  font-size: 64px;
  text-align: end;
  width: 48%;
  position: absolute;
  bottom: 40%;
  right: 20%;
}
//////////////////////////////////////////////

//////// STAMPED HEADERS ////////
.stamped-header {
  font-size: 4vw;
  font-weight: 200;
  color: white;

  background-color: black;
  padding: 5px 40px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(21, 6, 45, 0.5),
              -1px -1px 8px rgba(192, 195, 175, 0.4),
              0 0 2px rgba(255, 255, 1, 0.3);
}

.makers-header {
  transform: rotateZ(-16deg);
  position: absolute;
  top: 120px;
  left: 40px;
}

.events-header {
  transform: rotateZ(16deg);
  position: absolute;
  top: 80px;
  right: 40px;
}

#events-page-header {
    top: 160px;
}

.event-page-header {
  font-size: 64px;
}


.index-header {
  transform: rotateZ(-16deg);
  position: absolute;
  top: 6vh;
  left: 4%;
  // z-index: 2;
}

////////////////////////////////////////////////////

.page-link {
  font-size: 16px;
  color: white;

  padding: 4px 20px;
  margin: 20px;
  max-width: 200px;

  background-color: #011f0e;
  border-radius: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.page-link:hover {
  color: white;
  background-color: #011f0e;
  transform: scale(1.05);
}




@media only screen and (max-width: 1130px) {
  .index-header {
    left: 0px;
  }

  .events-header {
    right: 0px;
  }
}

@media only screen and (max-width: 780px) {
  h2 {
    font-size: 36px;
  }

  .stamped-header {
    font-size: 6vw;
    padding: 5px 10px;
  }

  .about-header {
    font-size: 80px;
    top: 35%;
  }

  .about-other-slogans {
    font-size: 58px;
  }

  .about-second-slogan {
    width: 90%;
    left: 5%;
  }

  .index-header {
    top: 0;
    left: 28vw;
    transform: rotateZ(0deg);
  }

  .events-header {
    top: 20px;
    right: 22vw;
    transform: rotateZ(0deg);
  }

  #events-page-header {
    top: 100px;
  }

  .makers-header {
    left: 28vw;
    top: 100px;
    transform: rotateZ(0deg);
  }
}

@media only screen and (max-width: 580px) {
  .about-header {
    font-size: 64px;
    top: 30%;
  }

  .about-us-header {
    font-size: 64px;
  }

  .about-other-slogans {
    font-size: 50px;
  }

  .events-header {
    top: 50px;
  }
}

@media only screen and (max-width: 450px) {
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  p {
    font-size: 14px;
  }

  .large-p {
    font-size: 18px;
    // font-weight: 500;
    // line-height: 1.8;
  }

  .stamped-header {
    font-size: 10vw;
    padding: 5px 10px;
  }

  .index-header{
    top: 10px;
    left: 12vw;
  }

  #events-page-header {
    top: 80px;
  }

  .about-header {
    font-size: 48px;
  }

  .about-us-header {
    font-size: 48px;
  }

  .about-other-slogans {
    font-size: 36px;
  }

  .about-third-slogan {
    width: 90%;
    top: 40%;
  }

  .about-third-slogan {
    right: 5%;
    width: 70%;
  }

  .makers-header {
    top: 70px;
    left: 12vw;
  }

  .page-link {
    font-size: 14px;
    padding: 4px 10px;
    margin: 14px;
    max-width: 150px;
  }
}
