h1, h3, p, span, a {
  font-family: 'Rubik', sans-serif;
  color: #050707
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  z-index: 100;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.large-p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.8;
  color: white;
}

.center {
  text-align: center;
}

//////// FLOATING HEADERS ////////
.floating-header {
  text-shadow: 0 0 8px rgba(31, 99, 244, 0.2),
              0 0 4px rgba(246, 244, 185, 0.3),
              0 0 1px rgba(255, 247, 1, 0.3);
}

.about-header {
  font-size: 96px;
  width: 48%;
  position: absolute;
  top: 40%;
  left: 0;
  // z-index: 2;
  margin-left: -20px;
}

.news-header-div {
  width: 48%;
  position: absolute;
  top: 40%;
  right: 5%;;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

  h2 {
    font-size: 64px;
  }
}

.about-us-header {
  font-size: 96px;
  width: 64%;
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.about-second-slogan {
  font-size: 64px;
  text-align: center;
  width: 64%;
  position: absolute;
  bottom: 30%;
  left: 18%;
}
//////////////////////////////////////////////

//////// STAMPED HEADERS ////////
.stamped-header {
  font-size: 68px;
  font-weight: 200;
  color: white;

  background-color: black;
  padding: 5px 40px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(21, 6, 45, 0.3),
              -1px -1px 8px rgba(192, 195, 175, 0.1),
              0 0 2px rgba(255, 255, 1, 0.2);
}

.makers-header {
  transform: rotateZ(-16deg);
  position: absolute;
  top: 200px;
  left: 40px;
}

.events-header {
  transform: rotateZ(16deg);
  position: absolute;
  top: 180px;
  right: 40px;
}

.events-page-header {
  transform: rotateZ(-16deg);
  position: absolute;
  top: 6%;
  left: 3%;
  // z-index: 2;
}

////////////////////////////////////////////////////

.page-link {
  font-size: 16px;
  color: white;

  padding: 4px 20px;
  margin: 20px;

  background-color: #011f0e;
  border-radius: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.page-link:hover {
  color: white;
  background-color: #011f0e;
  transform: scale(1.05);
}


.event-page-header {
  font-size: 64px;
}
