// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
  position: relative;
  min-height: 100vh;
}

.border-container {
  border-top: 3px solid #4c945a;
  padding-bottom: 140px;
}

.page-container {
  max-width: 1320px;
  padding: 0 60px;
  margin: 0 auto;
}
