// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #86c68d, #f0f0f0);
}

// Section basic styles //
section {
  padding: 20px 15%
}

@media only screen and (max-width: 800px) {
  section {
    padding: 20px 10%;
  }
}

@media only screen and (max-width: 500px) {
  section {
    padding: 20px 5%;

  }
}
//////////////////////////////////

// Image edit button styles //
.image-edit {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1000;

  cursor: pointer;
}

.image-edit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#edit-pen {
  color: white;
  font-size: 20px;
}
///////////////////////////////////////
